<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>fatihyavuz.Monotch.FanDaemon.v4</string>
	<key>BundleProgram</key>
	<string>Contents/Library/LaunchServices/MonotchFanDaemon</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/fatihyavuz.Monotch.FanDaemon.v4.out.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/fatihyavuz.Monotch.FanDaemon.v4.err.log</string>
</dict>
</plist>
